@import "./overrides.scss";
@import "~bootstrap/scss/bootstrap";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins/_breakpoints";
@font-face {
    font-family: 'Bahnscrift';
    src: url('./assets/fonts/BAHNSCHRIFT\ 1.TTF');
}

$green: #c7ff16;
$red: #ff0000;
$purple: #9146ff;
$grey: #979797;
$padding: 5px;
$margin: 20px;
$margin-box: $margin $margin $margin $margin;
$padding-box: $padding $padding $padding $padding;
@mixin graphHeight {
    height: 25vh;
}

* {
    font-family: 'Bahnscrift';
}

b {
    color: $green;
    font-weight: 800;
}

p {
    color: white;
    font-size: 1.25rem;
    font-weight: lighter !important;
    // margin-bottom: 0;
}

body {
    background-image: url('assets/bg.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    @include media-breakpoint-up(md) {
        min-height: 100vh;
    }
}

#socialStats {
    @include graphHeight;
    background-image: url('assets/topology.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    position: absolute;
    bottom: 0;
    right: 15px;
    left: 15px;
}

img {
    max-width: 100%;
}

.page-left,
.page-right {
    height: 100vh;
    // overflow: hidden;
    position: relative;
}

.graph {
    @include graphHeight;
    img {
        width: 100%;
    }
}

.locality-stat {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    padding-top: $margin;
    img {
        width: 50%;
    }
    p {
        width: 50%;
        color: white;
        display: inline-block;
        text-align: center;
        font-size: 22pt;
        margin-bottom: 0;
    }
}

// =========================================
// ANIMATIONS
// =========================================
.fade-in-text {
    opacity: 0;
    transition: opacity 1sec ease;
}

.animate {
    h1.fade-in-text,
    h2.fade-in-text,
    h3.fade-in-text,
    h4.fade-in-text,
    h5.fade-in-text,
    h6.fade-in-text,
    p.fade-in-text {
        opacity: 1;
    }
}

.come-in {
    overflow-y: hidden;
    transition: opacity 0.1s ease;
    opacity: 0;
}

.animate .come-in {
    opacity: 1;
    transform: translateY(40vh);
    animation: come-in 1s ease forwards;
}

.animate .come-out {
    opacity: 0;
    animation: come-out 1s ease forwards;
}

.animate .come-in:nth-child(odd),
.animate .come-out:nth-child(odd) {
    animation-duration: 1s;
    /* So they look staggered */
}

.animate .come-in:first-child,
.animate .come-out:first-child {
    animation-duration: 1s;
    /* So they look staggered */
}

.animate .come-in:last-child,
.animate .come-out:last-child {
    animation-duration: 1s;
    /* So they look staggered */
}

@keyframes come-out {
    from {
        trasform: translateY(0);
    }
    to {
        transform: translateY(-100vh)
    }
}

@keyframes come-in {
    from {
        transform: translateY(40vh);
    }
    to {
        transform: translateY(0);
    }
}

// === KEYFRAMES ANIMATION ===
//
// @media (prefers-reduced-motion: no-preference) {
//   .App-logo {
//     animation: App-logo-spin infinite 20s linear;
//   }
// }
//
// @keyframes App-logo-spin {
//   from {
//     transform: rotate(0deg);
//   }
//   to {
//     transform: rotate(360deg);
//   }
// }
// =========================================
// TYPOGROPHY
// =========================================
.title,
.subtitle {
    text-align: center;
    display: block;
    color: $green;
}

.title {
    font-size: 7vh;
    font-weight: 800;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: white;
}

p {
    font-size: 1.75rem;
}

.title {
    transition: all 1s linear;
    // opacity: 0;
}

.big-title {
    font-size: 10vh;
    line-height: 9vh;
}

h3 {
    font-size: 3vh;
    font-weight: bold;
}

.font-stroke {
    font-size: 30pt;
    font-weight: 400;
    color: white;
    -moz-text-fill-color: white;
    -webkit-text-fill-color: white;
    /* Will override color (regardless of order) */
    -moz-text-stroke-width: 4px;
    -webkit-text-stroke-width: 4px;
    -moz-text-stroke-color: black;
    -webkit-text-stroke-color: black;
    paint-order: stroke fill;
}

// =========================================
// IMAGES
// =========================================
.logo {
    max-height: 3vh;
}

.social-logo-stat {
    display: flex;
    align-items: center;
    margin: 0 0 auto 0;
    width: 25%;
    position: relative;
     :after {
        content: "";
        display: block;
        padding-bottom: 100%;
    }
    img {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        object-fit: cover;
        object-position: center;
    }
}

#socialStats {
    h2 {
        width: 25%;
        text-align: center;
        transform: translateY(40%);
    }
}

// =======================================
// SITE SPECIFIC
// =======================================
.caseStudyLeft {
    padding-right: 40px !important;
    h4 {
        right: 40px;
    }
}

.caseStudyRight {
    h4 {
        right: 0;
    }
}

.pageLeft p,
.pageLeft h3 {
    padding-right: 7vw !important;
}

.sources {
    font-size: 1rem;
    color: $grey;
    text-align: left !important;
}

.big-p {
    font-size: 2vh;
}

.stat {
    padding: 20px 20px;
    border-radius: 6px;
    border-width: 2px;
    max-height: 100px;
}

div.stat * {
    text-align: center;
    margin: auto 0;
    height: 0vh;
}

div.stat .rank {
    display: inline-block;
    width: 40%;
    font-size: 30pt;
    color: $green;
}

div.stat .rankName {
    padding-left: 5px;
    display: inline-block;
    width: 60%;
    font-size: 0.75rem;
}

#caseStudyStats {
    h6 {
        color: $green;
    }
}

.mineChampScreen {
    width: 85%;
}

// =======================================
// PAGE SPECIFIC
// =======================================
#one {
    h1,
    h2,
    h3 {
        width: 100%;
        display: block;
    }
    .topology-div {
        height: 100vh;
        width: 50vw;
        position: static;
        right: 0;
        top: 0;
        overflow: hidden;
        background-image: url('assets/topology.png');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: right;
    }
    .text-block {
        margin-top: 50vh;
        transform: translateY(-50%);
    }
    @media only screen and (min-width: 590px) {
        .text-block {
            margin: auto;
            position: absolute;
            top: 50vh;
            width: 50vw;
            left: 0;
            transform: translateY(-50%) translateX(-25%);
        }
    }
}

#two {
    .left {
        img {
            max-height: 12vh;
        }
        h3.thin-text {
            padding-left: 5px;
            margin-bottom: 0;
        }
    }
}

#three {
    h1 {
        text-align: center;
    }
    h2 {
        color: white;
    }
}

#four {
    * {
        text-align: center;
    }
    h3 {
        color: $green;
    }
    p {
        padding-bottom: 5vh;
        width: 75%;
        margin: 0 auto;
        font-size: 20pt;
    }
}

#five {
    h4 {
        font-size: 3vh;
        line-height: 3vh;
        position: absolute;
    }
}

#seven {
    .gamemodes p {
        display: block;
        width: 100%;
    }
    h3 {
        color: $green !important;
    }
}

#seven,
#eight,
#nine {
    .title {
        text-align: left;
    }
}

#ten {
    h3 {
        color: $green;
    }
}

// =========================================
// HELPER CLASSES
// =========================================
.thin-text {
    font-weight: 600;
}

.round {
    border-radius: 1000px;
}

.inBlock {
    display: inline-block;
}

.space-child-divs {
    >div {
        margin: 0 $margin 0 $margin;
    }
     :first-child {
        margin-left: 0;
    }
     :last-child {
        margin-right: 0;
    }
}

.purple {
    color: $purple;
}

.red {
    color: $red;
}

.green {
    color: $green;
}

.no-margin {
    margin: 0 !important;
}

.no-padding {
    padding: 0 !important;
}

.bordered {
    border: 5px solid $green;
}

.underline {
    display: inline !important;
    border-bottom: 1px solid $green;
}

.indented {
    margin-left: 5vw;
}

.centerHack {
    margin: auto;
    width: 100%;
}

.no-pr img {
    transform: translateX(15px);
}

.no-pl img {
    transform: translateX(-15px);
}

.padding-bottom-1 {
    padding-bottom: 2vh;
}

.padding-bottom-2 {
    padding-bottom: 4vh;
}

.padding-top-2 {
    padding-top: 4vh;
}

.padding-bottom-3 {
    padding-bottom: 6vh;
}

.margin-top {
    margin-top: 4vh !important;
}

.socialStatsTitle {
    position: absolute;
    top: -7vh;
}

@media only screen and (min-width: 1200px) {
    .desktop-hide {
        display: none;
    }
}

@media only screen and (max-width: 1920px) {
    #pageTwoRight {
        height: 65vh;
    }
}

@media only screen and (max-width: 1199px) {
    .mb-hide {
        display: none;
    }
    .title {
        font-size: 3rem;
    }
    .subtitle {
        font-size: 1.75rem;
    }
    .big-p,
    p {
        font-size: 1.25rem;
    }
    #caseStudyStats {
        h6,
        p {
            text-align: center;
        }
    }
    section {
        margin-top: 10vh;
    }
    #one {
        margin-top: 0;
    }
    #ten {
        h3 {
            font-size: 1.25rem;
        }
        p {
            font-size: 1rem;
        }
    }
    #two {
        .stat {
            h4,
            p {
                height: 100%;
            }
            h4 {
                font-size: 1.75rem;
            }
            p {
                font-size: 0.75rem;
                transform: translateY(-17%);
            }
        }
    }
    #pageTwoStats.space-child-divs {
        >div {
            margin-left: 0 !important;
            margin-right: 0 !important;
        }
         :nth-child(2) {
            margin-bottom: 0;
            margin-top: 20px;
            margin-left: 0 !important;
            margin-right: 0 !important;
        }
    }
    .padding-bottom-2 {
        padding-bottom: 10px;
    }
    .container {
        max-width: 100%;
        padding-left: 50px;
        padding-right: 50px;
    }
    #two .stat {
        h4,
        p {
            transform: translateY(-25%);
        }
    }
    #socialStatsContainer {
        margin-top: 15vh;
    }
    #socialStats {
        border-radius: 10px;
        height: 20vh;
        right: 30px;
        left: 30px;
        .socialStatsTitle {
            width: 100%;
        }
        h2 {
            height: 0;
            font-size: 15pt;
            transform: translateY(2.5vh);
        }
    }
    .graph {
        margin-top: 5vh;
        margin-bottom: 5vh;
    }
    #pageTwoRight {
        height: 60vh;
    }
    .mineChampScreen {
        margin: 7.5%;
    }
    #six .pageLeft {
        h1.text-left,
        h3,
        p {
            text-align: center !important;
        }
    }
    #twitchStudyAbout {
        padding-top: 5vh;
    }
    .caseStudyRight h4 {
        right: unset;
    }
    .pageLeft {
        p,
        h3 {
            padding-right: 0 !important;
        }
    }
}

@media only screen and (max-width: 589px) {
    .graph {
        margin-top: 5vh;
        height: 15vh;
    }
    .container {
        padding-left: 15px;
        padding-right: 15px;
    }
    .locality-stat p {
        padding-left: 4px;
    }
    .mb-hide {
        display: none;
    }
    body {
        // background-size: cover;
        background-color: #0C0C0C;
        // background-attachment: fixed
    }
    #four .scv-head {
        p {
            font-size: 0.75rem;
        }
    }
    #twitchStudyAbout p {
        font-size: 0.75rem;
    }
    .heightFixMob {
        max-height: 20vh;
        margin: 0 auto;
    }
}

#pageTwoStats {
    overflow-x: hidden;
}