@import "./overrides.scss";
@import "~bootstrap/scss/bootstrap";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins/_breakpoints";
@font-face {
    font-family: 'Bahnscrift';
    src: url('./assets/fonts/BAHNSCHRIFT\ 1.TTF');
}

$green: #c7ff16;
$red: #ff0000;
$purple: #9146ff;
$padding: 5px;
$margin: 20px;
$margin-box: $margin $margin $margin $margin;
$padding-box: $padding $padding $padding $padding;
@mixin graphHeight {
    height: 25vh;
}

.round {
    border-radius: 1000px;
}

.space-child-divs {
    >div {
        margin: 0 $margin 0 $margin;
    }
     :first-child {
        margin-left: 0;
    }
     :last-child {
        margin-right: 0;
    }
}

.purple {
    color: $purple;
}

.red {
    color: $red;
}

.green {
    color: $green;
}

.no-margin {
    margin: 0 !important;
}

.no-padding {
    padding: 0 !important;
}

.bordered {
    border: 5px solid $green;
}

.underline {
    display: inline !important;
    border-bottom: 1px solid $green;
}

.indented {
    margin-left: 5vw;
}

.centerHack {
    margin: auto;
    width: 100%;
}

.stat {
    padding: 20px 10px;
    border-radius: 6px;
    border-width: 2px;
}

* {
    font-family: 'Bahnscrift';
}

b {
    color: $green;
    font-weight: 800;
}

p {
    color: white;
    font-size: 1.25rem;
    font-weight: lighter !important;
    // margin-bottom: 0;
}

body {
    background-image: url('assets/bg.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    @include media-breakpoint-up(md) {
        min-height: 100vh;
    }
}

#socialStats {
    @include graphHeight;
    background-image: url('assets/topology.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

img {
    max-width: 100%;
}

.fade-in-text {
    .title {
        opacity: 1;
    }
}

.page-left,
.page-right {
    height: 100vh;
    // overflow: hidden;
    position: relative;
}

.graph {
    @include graphHeight;
}

.topology-div {
    height: 100vh;
    width: 50vw;
    position: static;
    right: 0;
    top: 0;
    overflow: hidden;
    background-image: url('assets/topology.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right;
}

.text-block {
    margin: auto;
    width: 60%;
    position: absolute;
    top: 50vh;
    transform: translateY(-50%);
}

.locality-stat {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    padding-top: $margin;
    img {
        width: 50%;
    }
    p {
        width: 50%;
        color: white;
        display: inline-block;
        text-align: center;
        font-size: 22pt;
        margin-bottom: 0;
    }
}

.social-logo-stat {
    display: flex;
    align-items: center;
    margin: auto;
    width: 20%;
    .logo-container {
        padding: 3.5vh;
        display: inline-block;
        background-color: black;
    }
    .logo-container img {
        height: 2.5vh;
    }
}

.font-stroke {
    font-size: 22pt;
    font-weight: 800;
    color: white;
    -webkit-text-fill-color: white;
    /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}

.social-logo-stat:nth-of-type(1) {
    .logo-container {
        padding-left: 3vh;
        padding-right: 3vh;
    }
}

.title,
.subtitle {
    text-align: center;
    display: block;
}

.title {}

.subtitle {}

// === KEYFRAMES ANIMATION ===
//
// @media (prefers-reduced-motion: no-preference) {
//   .App-logo {
//     animation: App-logo-spin infinite 20s linear;
//   }
// }
//
// @keyframes App-logo-spin {
//   from {
//     transform: rotate(0deg);
//   }
//   to {
//     transform: rotate(360deg);
//   }
// }
.margin-top {
    margin-top: 4vh;
}

.title {
    font-weight: 800;
    transition: all 1s linear;
    opacity: 0;
    color: $green;
}

h1.title {
    font-size: 7vh;
    padding-bottom: 6vh;
}

h3 {
    color: $green;
    font-size: 3vh;
    font-weight: bold;
}

.logo {
    max-height: 3vh;
}

#four {
    * {
        text-align: center;
    }
}

#five {
    h4 {
        font-size: 3vh;
        line-height: 3vh;
    }
}

#seven {
    .gamemodes p {
        display: block;
        width: 100%;
    }
}

#seven,
#eight,
#nine {
    .title {
        text-align: left;
    }
}